body{
    background-color: red;
    margin: 0;
    padding: 0;
}

.header{
    width: auto;
    position: relative;
    color: plum;
}

.featured-post{
    margin: auto;
    padding: 10px;
    height: 500px;
    color: grey;
}