body{
    background-color: red;
    margin: 0;
    padding: 0;
}

.header{
    width: 100vw;
    height: 50px;

    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 30px;
    grid-gap: 10px;
}
.header-item{
    background-color: plum;
    height: 30px;
    margin: 10px;
    margin-left: 60px;
}

.featured-post-one{
    position: absolute;
    background-color: white;
    height: 30vw;
    width: 100vw;
}

.sidebar-menu{
    position: absolute;
    background-color: plum;
    margin-top: 0;
    margin-bottom: 10px;
    margin-left: 25px;
    height: 31vw;
    width: 15vw;
    z-index: 100;
}

.highlighted-posts{
    margin-top: 500px;
    margin-left: 200px;
    margin-right: 200px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 100px;
    grid-gap: 10px;
}

.highlighted-post{
    background-color: yellowgreen;
    padding: 10px;
}

.row-header-one{
    background-color: pink;
    width: 150px;
    height: 15px;
    margin: auto;
    margin-top: 30px;
}

.row-of-items-one{
    padding: 50px;
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: 100px;
    grid-gap: 20px;
}

.item-one{
    background-color: turquoise;
}

